body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    line-height: 1.6;
}
header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    border-bottom: 4px solid #007bff;
    padding: 20px 0;
    background-color: #007bff;
}
.section-um {
    display: flex;
    flex-direction: column; /* coluna, um embaixo do outro */
    align-items: center;    /* centraliza horizontalmente os blocos */
    justify-content: center; /* se quiser centralizar verticalmente na seção */
    gap: 1px;           /* espaço entre elementos */
    text-align: center;     /* centraliza o texto dentro de cada bloco */
    padding: 5px;
}

.section-um p {
    max-width: 800px;
    line-height: 1.6; /* deixa a leitura mais agradável */
}
.section-dois{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-dois p {
    line-height: 1.6;
}
footer{
    text-align: center;
    border-top: 4px solid #007bff;
    padding: 15px 0;
    background-color: #007bff;
    font-size: 20px;
    
}

