* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ccc;
}
.caixa {
    width: 100%;
    max-width: 450px;
    padding: 20px;
}
.fundo-caixa-dois {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}
#formulario {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 8px;
}
.subtitulo {
    text-align: center;
}
input {
    height: 30px;
    border-radius: 10px;
    padding: 10px;
}
button {
    height: 35px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    background-color: blue;
    cursor: pointer;
    color: white;
}
button:hover {
    background: rgb(10, 10, 165);
    transition-duration: 0.3s;
    transform: translateY(5px);
}
 a {
    text-decoration: none;
 }
 a:hover {
    color: rgb(5, 5, 149);
 }